---
# tasks file for roles/worker
# - name: debug joinToken
#   vars:
#     joinToken: "{{ hostvars['master']['token'] }}"
#   debug:
#     msg: "the joinToken is {{ joinToken.stdout }}"

- name: join k8s cluster from worker node
  become: yes
  vars:
    joinToken: "{{ hostvars['master']['token'] }}"
  ansible.builtin.command:
    cmd: "{{ joinToken.stdout }}"
    creates: /etc/kubernetes/kubelet.conf